<br>
<div class="container">
    <div class="row center home-btns">
        <div class="col s6 store-lg">
            <a href="/stores" class="white-text">
                <button class="btn waves-effect waves-light">Stores
                </button>
            </a>
        </div>

        <body>
            <div class="col s6">
                <a href="/brands" class="white-text brand-lg">
                    <button class="btn waves-effect waves-light">Brands
                    </button>
                </a>
            </div>
    </div>
</div>