@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300');

body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://static.pexels.com/photos/507251/pexels-photo-507251.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

nav .brand-logo {
    color: black
}

nav ul a {
    color: black;
}

.home-btns {
    margin-top: 30%;
}

.grey {
    height: 2px;
    width: 150px;
}

.collection {
    width: 45%;
    margin: auto;
}

.select {
    width: 25%;
    margin: auto;
}

.my_store-container {
    padding: 2%;
    margin-top: 5%;
}

.brands-bg {
    background-color: rgba(0, 0, 0, 0.5);
}

.cat {
    margin: auto;
    width: 45%;
}